/* style.css */

ul {
    background-color: red;
    height: auto;
    width: 300px;
    /* Padding is for the space between the border and the content */
    padding: 10px;
    /* Simply for lists so we do not see the disc */
    list-style-type: none;
    /* Border is for the border, the wall around the content */
    border: 5px solid;
    /* Align the text in the middle */

    /* Margin is like the exterior border, it is the space between elements */
    margin: auto;
    /* VERY IMPORTANT, this is so that the height and width we specified is the height and width of everything, the whole box
    So, the heigh and width we include will include the border, whatever thickness we specify */
    box-sizing: border-box;
}

ol {
    /* background color of the ordered list */
    background-color: blueviolet;
    /* We should usually specify the height */
    height: auto;
    width: 300px;
    /* padding auto because it helped here for working witht he numbers on the list */
    padding: auto;
    /* specifying border thickness and its visibility type */
    border: 5px solid;
    /* auto margin because it helps to center it lol */
    margin: auto;
    /* border-sizing: border-box helps us keep a consistent dimensionality of our boxes */
    box-sizing: border-box;
}

h1 {
    background-color: blue;
    /* Specifying height and width is very important, or can be */
    height: auto;
    width: 300px;
    /* padding is the space in between the content and the border */
    padding: 10px;
    /* border is the border, the wall around the contents */
    border: 5px solid;
    /* allows us to align the text in the center */
    text-align: center;
    /* margin is the space in between elements */
    margin: auto;
    /* we can be more specific in the margins, maybe we want different thicknesses on one side and not the other */
    margin-bottom: 20px;
    /* again, this determines how we size our box
    border-box means that the height and width we specify is the overall size of the box, border included */
    box-sizing:border-box;
}

img {
    /*  I guess this helps us center an image or anything that does not 
    want to be centered*/
    display: block;
    /* specifying heigth and width */
    height: auto;
    width: 300px;
    /* border thickness and how it looks (solid) */
    border: 5px solid;
    /* auto margin right and left so we can center the image */
    margin: auto;
    /* margin in the bottom to separate our elements */
    margin-bottom: 20px;
    /* border box so we have consistency across the board */
    box-sizing: border-box;
}

p {
    /* background color to help us work witht he box */
    background-color: greenyellow;
    /* specifying the height and width */
    height: auto;
    width: 300px;
    /* aligning text to the center */
    text-align: center;
    /* border thickness and visibility */
    border: 5px solid;
    /* padding 10px because why not */
    padding: 10px;
    /* auto margin to center our box */
    margin: auto;
    /* keep consistency of dimensionality */
    box-sizing:border-box;
}

h2 {
    /* background color to see the box */
    background-color: orange;
    /* gotta specify the height and width! */
    height: auto;
    width: 300px;
    /* border and padding and margin to manipulate our boxes */
    border: 5px solid;
    text-align: center;
    padding: 5px;
    margin: auto;
    /* again, we can be more specific with how we want our boxes to be in terms of margin, padding, and border */
    margin-top: 20px;
    margin-bottom: 20px;
    /* gotta keep consistency across the board for box sizes */
    box-sizing: border-box;
}

.back {
    /* when in doubt, treat it as a block 
    so we can actually center it*/
    display: block;
    background-color: olivedrab;
    /* important to specify the height and width */
    height: auto;
    width: 300px;
    /* aligining text to the center */
    text-align: center;
    /* padding just because */
    padding: 5px;
    /* border size and color */
    border: 5px solid black;
    /* auto margins so that it can center */
    margin: auto;  
    /* being more specific with our margins so that there is space */
    margin-bottom: 20px;
    /* box-sizing: border-box; so that we have consistent dimensionality */
    box-sizing: border-box;
    color: white;
}

/* simple CSS rule for recipe so that they have white text */
.recipe {
    color: white;
}

.front {
    display: flex;
    height: auto;
    width: 600px;
}

.front li {
    background-color: blue;
    margin: auto;
    height: 50px;
    width: 100px;
    padding: 8px 0 8px 0;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}